body {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  flex-direction: row-reverse;
}

/* main */

main {
  padding-top: 102px;
  margin-left: 88px;
}

.aboutme-box {
  width: 400px;
  height: 230px;
  outline: red solid 2px;
  margin-bottom: 40px;
}

.aboutme-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  padding-bottom: 19px;
}

.aboutme-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22;
  color: #000000;
  padding-bottom: 24px;
}

.aboutme-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}

.project-box {
  margin-bottom: 51px;
}

.projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
}

.projects-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}

.work-box {
  margin-bottom: 43px;
}

.work-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
  padding-bottom: 12px;
}

.work-position {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  padding-bottom: 11px;
}

.work-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.work-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}

.work-lisen {
  margin-bottom: 20px;
  margin-top: 16px;
}

.education-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
  padding-bottom: 12px;
}

.education-postion {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fb6d3a;
}

.education-management {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.education-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
}

.aside-section {
  background: #1e2939;
  width: 370px;
  height: 1319px;
  padding-top: 40px;
  outline: red solid 2px;
}

.aside-item {
  background: url(photo.jpg);
  width: 370px;
  height: 354px;
  padding-left: 0;
}

.contacts-box {
  width: 183px;
  height: 83px;
  margin-top: 51px;
  margin-bottom: 47px;
  padding-left: 40px;
}

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 8px;
}

.contacts-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  opacity: 0.5;
}

.contacts-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  opacity: 0.5;
}

.tech-box {
  width: 121px;
  height: 203px;
  margin-bottom: 44px;
  padding-left: 40px;
  outline: red 2px solid;
}

.tech-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #ffffff;
}

.tech-specialization {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.soft-box {
  width: 113px;
  height: 131px;
  padding-left: 40px;
}

.soft-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #ffffff;
}

.soft-specialization {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.work-color {
  color: #fb6d3a;
}
